extends layout

block content
    div(data-role='page')
        div(data-role='header')
            div(data-role='navbar', data-iconpos='left')
                ul
                    li: a(href='#')=title
                    li: a(href='/others/showoff') 别人的番茄
        div(data-role='ui-content')
            ul(data-role='listview', data-inset='true')
               li(data-role='list-divider') 2016-01-04
               li
                   a(href="/my/detail")
                       h2 健身
                       - var n = 0;
                       while n < 2
                           div(class='tomato_image')
                           - n++
               li
                   a(href="/my/detail")
                       h2 学习
                       - var n = 0;
                       while n < 1
                           div(class='tomato_image')
                           - n++
               li(data-role='list-divider') 2016-01-03
               li
                   a(href="/my/detail")
                       h2 健身
                       - var n = 0;
                       while n < 6
                           div(class='tomato_image')
                           - n++
               li
                   a(href="/my/detail")
                       h2 学习
                       - var n = 0;
                       while n < 3
                           div(class='tomato_image')
                           - n++

    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/jquery-mobile/jquery.mobile-1.4.5.js')