extends layout

block content
    div(data-role='page')
        div(data-role='header')
            h1= title
            a(href='/' data-icon='back' class='ui-btn ui-btn-icon-left ui-icon-back ui-btn-icon-notext')

        div(data-role='ui-content')
            ul(data-role='listview', data-inset='true')
                li(data-icon='info'): a(href='#') 10:12 - 10:37 健身，肩膀
                li(data-icon='info'): a(href='#') 10:46 - 11:16 健身，腹肌
                li(data-icon='info'): a(href='#') 14:12 - 14:37 健身，有氧

    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/jquery-mobile/jquery.mobile-1.4.5.js')

