extends layout

block content
    div(data-role='page')
        div(data-role='header')
            h1= title
            a(href='/' data-icon='back' class='ui-btn ui-btn-icon-left ui-icon-back ui-btn-icon-notext')

        div(data-role='ui-content')
            ul(data-role='listview', data-inset='true')
                li 
                    a(href='#') 
                        h2 isi

                        div          
                            健身
                            - var n = 0;
                            while n < 2
                                div(class='tomato_image')
                                - n++
                        div
                            学习
                            - var n = 0;
                            while n < 2
                                div(class='tomato_image')
                                - n++

                li 
                    a(href='#') 
                        h2 victor
                        div 
                            健身
                            - var n = 0;
                            while n < 4
                                div(class='tomato_image')
                                - n++
                        div 
                            学习
                            - var n = 0;
                            while n < 1
                                div(class='tomato_image')
                                - n++


    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/jquery-mobile/jquery.mobile-1.4.5.js')

