extends layout

block content
    div(data-role='page')
        div(data-role='header')
            div(data-role='navbar', data-iconpos='left')
                ul
                    li: a(href='/') 我的番茄历史
                    li: a(href='/others/showoff', class='ui-btn-active ui-state-persist')=title

        div(data-role='ui-content')
            ul(data-role='listview', data-inset='true')
                li 
                    a(href='#') 
                        h2 isi

                        div
                            健身
                            - var n = 0;
                            while n < 2
                                div(class='tomato_image')
                                - n++
                        div
                            学习
                            - var n = 0;
                            while n < 2
                                div(class='tomato_image')
                                - n++

                li 
                    a(href='#') 
                        h2 victor
                        div
                            健身
                            - var n = 0;
                            while n < 4
                                div(class='tomato_image')
                                - n++
                        div
                            学习
                            - var n = 0;
                            while n < 1
                                div(class='tomato_image')
                                - n++



